:root {
  --primary: #faed00;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000000;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  background-color: rgb(1, 0, 0);
  border-bottom: 1px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.navbar .navbar-logo span {
  color: #00bbfa;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #000000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #000000;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: #00bbfa;
}

#Menu {
  display: none;
}

/* Hero Section start */

.hero {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 15rem;
  margin-left: 4rem;
  /* margin-right: 50rem; */
}
.hero h5 {
  color: #00bbfa;
  overflow: hidden;
  border-right: 0.15em solid #00bbfa; /* Garis pinggir yang terlihat seperti sedang mengetik */
  white-space: nowrap; /* Mencegah wrapping teks */
  letter-spacing: 0.15em; /* Jarak antara huruf */
  animation: typing 4s steps(40) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000000;
  }
}

.hero p {
  font-size: 1.5rem;
}

.hero span {
  color: #00bbfa;
}
.hero button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #00bbfa;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.hero button:hover {
  background-color: #a6a6a6;
}

.hero .content {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}
.hero .gambar-sec-start {
  margin-top: -7rem;
  width: 550px;
  height: 450px;
  margin-left: 2.5rem;
  display: flex;
  transform: translateX(0px);
  animation: float 4s ease-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* About Section */
.About {
  bottom: 100%;
  padding: 8rem 7% 1.4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #000000;
  padding-bottom: 10rem;
}

.About h2 {
  color: #00bbfa;
}
.About p {
  color: #ffffff;
  text-align: left;
}
#About {
  margin-top: 60px;
}

/* Services Section */
.Services {
  bottom: 100%;
  padding: 8rem 7% 1.4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #fffdfd;
  padding-bottom: 10rem;
}

.Services h2 span {
  color: #00bbfa;
}
#Services {
  margin-top: 0px;
}
.Services .content {
  display: flex;
  flex-wrap: sans-serif;
  gap: 20px;
  justify-content: center;
}
.Services .content div {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.Services .content div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}
.Services .content div:hover img {
  transform: scale(1.2);
}
.Services .content div::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 2;
}
.Services .content div .tittle-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.5)); */
  z-index: 2;
}
.Services .content div .tittle {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  z-index: 3;
  bottom: 0;
  left: 0;
  padding: 10px;
  transform: translateY(78%);
  transition: 0.5s ease;
  /* cursor: pointer; */
}
.Services .content div:hover .tittle {
  transform: translateY(0%);
}

/* Project Section */
.Project {
  bottom: 100%;
  padding: 8rem 7% 1.4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #00bbfa;
  padding-bottom: 10rem;
}

.Project h2 span {
  color: white;
}
#Project {
  margin-top: 0px;
}
.Project .content {
  display: flex;
  flex-wrap: sans-serif;
  gap: 20px;
  justify-content: center;
}
.Project .content div {
  position: relative;
  overflow: hidden;
  text-align: left;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}
.Project img {
  margin-top: 2rem;
  width: 350px;
  height: 200px;
  border-radius: 7px;
}

.Project h5 {
  color: white;

  margin-top: 10px;
}
.Project p,
.Project a {
  font-size: 12px;
}
.Project a:hover {
  color: white;
}

/* Contact Section */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.Contact {
  bottom: 100%;
  padding: 8rem 7% 1.4rem;
  font-size: 1.5rem;
  background-color: white;
  padding-bottom: 10rem;
}
.Contact h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.Contact h2 span {
  color: #00bbfa;
}
#Contact {
  margin-top: 0px;
}

.Contact .content {
  display: flex;
}
.Contact .content .informasi {
  margin-top: 2rem;
}
.Contact .content .informasi .icon {
  font-size: 15px;
}
.Contact .content .informasi .icon strong {
  color: aqua;
}
.Contact .content .informasi .icon span i {
  color: #00bbfa;
  font-size: 30px;
}
.Contact .content strong {
  color: aqua;
}

/* .Contact .content .wrapper .icon {
  position: relative;
  background-color: #00bbfa;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Contact .content .wrapper .icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.Contact .content .wrapper .icon:hover span,
.Contact .content .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
}

.Contact .content .wrapper .Fb:hover {
  background: #ff2200;
  color: #fff;
}

.Contact .content .wrapper .ig:hover {
  background: #7d4300;
  color: #fff;
}
.Contact .content .wrapper .github:hover {
  background: #008e18;
  color: #fff;
} */

.Contact .content .send {
  width: 50%;
  margin: 0;
  display: grid;
  gap: 16px;
  position: relative;
  z-index: 3;
  margin-top: 10px;
  margin-left: 200px;

  padding: 30px 30px 30px;
  background: #00bbfa;
  border-radius: 1.25rem;
}
.Contact .content .send input,
.Contact .content .send button {
  width: 100%;
  height: 50px;
}
.Contact .content .send input {
  border: 2px #252525;
  padding: 0 25px;
  border-radius: 14px;
  transition: all 0.375s;
}
.Contact .content .send input:hover {
  border: 2px #252525;
}
.Contact .content .send button {
  cursor: pointer;
  width: 100%;
  padding: 16px;
  border-radius: 25px;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  transition: all 0.3s;
}
.Contact .content .send button:hover {
  background: #7d7d7d;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .gambar-sec-start {
    width: 400px;
    height: 300px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: calc(54% - 0.15em);
    }
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #Menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #00bbfa;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .hero .content img {
    margin-top: 10rem;
    width: 300px;
    height: 325px;
  }
  .hero .content {
    flex-wrap: wrap;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: calc(43% - 0.15em);
    }
  }
  .Services .content {
    flex-wrap: wrap;
  }
  .Project .content {
    flex-wrap: wrap;
    width: 100%;
  }
  .Contact .content {
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  .Contact .content .send {
    width: 100%; /* Mengisi lebar layar penuh */
    margin-left: 0; /* Menghapus margin kiri pada perangkat mobile */
    margin-top: 30px;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 62.5%;
  }
  .gambar-sec-start {
    width: 200px;
    height: 150px;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;

    background-color: #00bbfa;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  .hero .content img {
    margin-top: 10rem;
    width: 300px;
    height: 325px;
  }
  .hero .content {
    flex-wrap: wrap;
  }
  .Project .content {
    width: 100%;
    flex-wrap: wrap;
  }
  /* .Project .content img {
  } */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: calc(75% - 0.15em);
    }
  }
  .Services .content {
    flex-wrap: wrap;
  }
}
